<div style="background-color: whitesmoke;">
<div class="contanier">
    <div class="row m-0 p-5" >
        <div class="col-12 col-md-6">
                <img src="https://assets.heartfoundation.org.nz/images/all-shared-sections/blogs/cooking-at-home.png?mtime=1669000865" style="border-radius: 20px;" width="100%" alt="">
        </div>
        <div class="col-12 col-md-6" style="background-color: whitesmoke;">
            <div class="border p-5 shadow" style="background-color: whites;" >
            <h2 class="mt-1">Welcome To RecipeWorld </h2>
            <p>Discover the 100+ recipes in your hand with the best recipe. Help you  to find the easiestway to cook.</p>
        </div>
        </div>

        <div class="col-12 col-md-6" style="background-color: whitesmoke;">
            <div class="border p-5 shadow" style="background-color: whites;" >
            <h2 class="mt-1">About Us </h2>
            <p>At RecipeWorld, we believe that cooking is more than just a daily chore—it's a journey of creativity, culture, and connection. Our blog is dedicated to bringing you a diverse range of recipes, from traditional classics to modern twists, all created with love and attention to detail.</p>
                <h3>Why Choose RecipeWorld?</h3>
            <ul> 
                    <li>Accessible: We provide easy-to-follow instructions for both beginners and experts</li>
                    <li>Authentic: Each recipe tells a story rooted in tradition and cultural insights</li>
                    <li>Engaging: Beautiful visuals and fun tips make cooking a relaxing and enjoyable experience.</li>
                </ul>
        </div>
        </div>
        <div class="col-12 col-md-6 mt-3">
            <img src="https://img.freepik.com/premium-photo/confident-male-chef-with-cooked-food-kitchen_13339-258152.jpg" style="border-radius: 20px;"  alt="">
    </div>

    </div>
</div>
</div>
