<div class="row" style="background-color: whitesmoke;">
    <div class="col-3">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-9">
        <div class="row">
            <h3 class="my-3 text-center">Add Recipe Details</h3>
            <div class="col">
                <div class="border shadow p-3">
                        <form action="">
                            <div class="row">
                                <div class="col-6">
                                    <input type="text"class="form-control" placeholder="Recipe Name">
                                    <input type="text"class="form-control" placeholder="Recipe Name">
                                    <label for="">Choose Cuisine Type</label>
                                    <select name="" id="">
                                       @for (item of cuisineList; track $index) {
                                        <option value="">{{item}}</option>
                                       }
                                    </select>
                                    <input type="text" class="form-control" placeholder="Recipe Image url" name="" id="">
                                    <textarea name="" class="form-control" placeholder="Recipe Ingredients" id=""></textarea>
                                 </div>
                                <div class="col-6">
                                    <input type="text"class="form-control" placeholder="Recipe Cooking Time in Minutes">
                                    <input type="text"class="form-control" placeholder="Recipe Servings(eg:4)">
                                    <label for="">Mode of Cooking</label>
                                    <select name=""   id="">
                                        <option value="" hidden selected>Choose</option>
                                        <option value="">Easy</option>
                                        <option value="">Meduim</option>
                                        <option value="">Hard</option>

                                    </select>
                                    <input type="text" class="form-control" placeholder="Recipe Calorie Per Savings" name="" id="">
                                    <textarea name="" class="form-control" placeholder="Recipe Cooking Instructions" id=""></textarea>                                </div>
                            </div>
                            <div class="p-2 border rounded mt-3">
                                <h5 class="text-center">Choose Meal Type of Recipe:</h5>
                                    <div style="display: flex; justify-content: space-around;" class="mt-3">
                              @for (item of meallist; track $index) {
                                <div class="p-2"><input type="checkbox"><label for="">{{item}}</label></div>
                              }
                                
                                    </div>
                                </div>
                            <div class="text-center mt-3">
                            <button class="btn btn-dark btn-sm">Add</button>
                        </div>
                        </form>
                </div>
            </div>
       </div>
    </div>
</div>
