<div class="row" style="background-color: whitesmoke;">
    <div class="col-3">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-9">
        <div class="row">
            <h3 class="text-center my-3">All User Testimony Requests</h3>
            <div class="col">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">User Name</th>
                        <th scope="col">User Email</th>
                        <th scope="col">Message</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Zabi</td>
                        <td>zabimuhammed&#64;gmail.com</td>
                         <td>Delicious Website Loved It</td>
                        <td><Button class="btn btn-success">Approved</Button></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>

