<div class="row" style="background-color: whitesmoke;">
    <div class="col-3">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-9">
        <div class="row">
            <h3 class="text-center my-3">All User Testimony Requests</h3>
            <div class="col">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">User Name</th>
                        <th scope="col">User Email</th>
                        <th scope="col">Message</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                       @for (item of request; track $index) {
                        <tr>
                        <th scope="row">{{$index+1}}</th>
                        <td>{{item.name}}</td>
                        <td>{{item.email}}</td>
                         <td>{{item.message}}</td>
                        <td>
                          @if(item.status=='pending'){
                            <Button (click)="updateTestimony(item._id,'Approved')" class="btn btn-success">Approved</Button>
                            <Button (click)="updateTestimony(item._id,'Rejected')" class="btn btn-danger">Rejected</Button>
                          }@else if(item.status=='Approved'){
                            <Button class="btn btn-success">Approved</Button>
                          }@else {
                            <Button class="btn btn-danger">Rejected</Button>
                          }
                        </td>
                      </tr> 
                      }
                      
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>

