<div class="container">
    <h3 class="mt-4 text-center">
        Your Saved Recipe Collection
    </h3>
    <div class="row">
        <div class="col-12 col-md-3">
            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfGs1omHYcexd5HkSXoqoILQDStGsBrDAYyA&s" class="img-fluid" alt="Fissure in Sandstone"/>
             <div class="d-flex justify-content-between">
                <h5 class="card-title">Pizza Margherita</h5>
                <i class="fa-solid fa-trash text-danger"></i>
             </div>
              </div>
        </div>
    </div>
</div>