<app-header></app-header>
<div style="background-color: whitesmoke;">
<div class="container">
    <div class="row p-3">
        <div class="col-12 col-md-4"></div>
        <div class="col-12 col-md-4">
            <div class="card p-2 border shadow">
                <img src="" alt="">
                <h3>Name: Zabin M</h3>
                <div class="text-center">
                    <button class="btn btn-dark">Upload</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4"></div>
    </div>
</div>
</div>
<app-footer></app-footer>